
<script src="bower_components/d3.svg.ribbon/d3.svg.ribbon.js"></script>

<script>
  Polymer({
    is: "c-path",
    
    behaviors: [cygnusVisual],

    _dataChanged: function() {
      var me = this;
      me.data = me.data || {};
      
      if (me.anchor && me.data.datapoints) {

        if (!me.data.scales)  { me._scales("path"); }
          
        Array.prototype.getUnique = function(){
          var u = {}, a = [];
          for(var i = 0, l = this.length; i < l; ++i){
            if(u.hasOwnProperty(this[i])) {
              continue;
            }
            a.push(this[i]);
            u[this[i]] = 1;
          }
          return a;
        }
          
        var group = me.data.datapoints.map( function(d) { return d.group; }).getUnique();
        me.data.scales.color.domain(group);
        
        var datapoints = me.data.scales.color.domain().map(function(group) {
          return {
            group: group,
            id: '_id_' + group + '_' + me.data.meta.file,
            values: me.data.datapoints.filter (function(d) {
              return d.group === group
            })
          };
        });
        
        ribbon = d3.svg.ribbon()
          .x(function(d) {return me.data.scales.dim[0](d.dim[0]) })
          .y(function(d) {return me.data.scales.dim[1](d.dim[1]) })
          .r(function(d) {return me.data.scales.size(d.size)});
        
        var execution =  new Date().getTime();
        
        me.anchor.svg.selectAll("line" + execution )
          .data(datapoints)
          .enter()
          .append("path")
          .attr("d", function(d) { return ribbon(d.values); })
          .attr("class", function(d) { return d.id; })
          .style("stroke", function(d) { return me._colorSolver(d.group); })
          .style("fill", function(d) { return me._colorSolver(d.group); });
      }
    }
    
  });
</script>