
  <!-- Web Components -->
  <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <!-- D3.js -->
  <script src="bower_components/d3/d3.min.js"></script>
  <!-- Polymer -->
  <link rel="import" href="bower_components/polymer/polymer.html">
  <!-- Cygnus elements -->
  <link rel="import" href="cygnusVisual.html">
  <link rel="import" href="cygnusData.html">
  <link rel="import" href="c-layout.html">
  <link rel="import" href="c-points.html">
  <link rel="import" href="c-lines.html">
  <link rel="import" href="c-bars.html">
  <link rel="import" href="c-csv.html">
  <link rel="import" href="c-tsv.html">
  <link rel="import" href="c-axis.html">
  <link rel="import" href="c-legend.html">
  <link rel="import" href="c-lab.html">
  <link rel="import" href="c-mouseover.html">
  <link rel="import" href="c-polygon.html">
  <link rel="import" href="c-parcoords.html">
  <link rel="import" href="c-path.html">
  <link rel="import" href="c-text.html">
  <link rel="import" href="c-update.html">