<!doctype html>

<html>
<head>
  <title>cygnus</title>
    
  <link rel="import" href="../cygnus.html">

  <link rel="stylesheet" href="../styles.css">
</head>

<body unresolved>
  
  <div id="graph"></div>
  <template is="dom-bind">
  
    <c-csv data={{data}} file="../data/iris.csv" x="sepalLength" y="sepalWidth" group="species"></c-csv>
    <c-layout anchor="{{anchor}}" inside ="#graph" margin='{"top":30,"right":20,"bottom":30,"left":50}' width=600 height=600></c-layout>
    <c-points anchor="{{anchor}}" data={{data}}></c-points>
    <c-axis anchor="{{anchor}}" data={{data}}></c-axis>
    <c-legend anchor="{{anchor}}" data={{data}}></c-legend>
    <c-lab anchor="{{anchor}}" x ="Sepal Length", y="Sepal Width"></c-labs>
    
    <c-csv data={{data2}} file="../data/iris.csv" x="sepalWidth" y="sepalLength"></c-csv>
    <c-points anchor="{{anchor}}" data={{data2}}></c-points>
 
  </template>
</body>
</html>




