<!doctype html>

<html>
<head>
  <title>cygnus</title>
    
  <link rel="import" href="../cygnus.html">

  <link rel="stylesheet" href="../styles.css">
</head>

<body unresolved>
  <template is="dom-bind">
  
    <c-tsv data={{data}} file="../data/temperature.tsv" x="date" y="temperature" 
      group="site" xtype = "Time">
    </c-tsv>
    
    <c-layout anchor="{{anchor}}" width=800 ></c-layout>
    
    <c-lines anchor="{{anchor}}" data={{data}}></c-lines>
    <c-axis anchor="{{anchor}}" data={{data}}></c-axis>
    <c-legend anchor="{{anchor}}" data={{data}} position ="bottomright" ></c-legend>
    
    
    <c-tsv data={{data1}} file="../data/temperature.tsv" x="date" y="temperature" 
      group="site" xtype = "Time">
    </c-tsv>
    
    <c-layout anchor="{{anchor1}}" width=800></c-layout>
    
    <c-points anchor="{{anchor1}}" data={{data1}}></c-points>
    <c-lines anchor="{{anchor1}}" data={{data1}}></c-lines>
    <c-axis anchor="{{anchor1}}" data={{data1}}></c-axis>
    <c-legend anchor="{{anchor1}}" data={{data1}} position = "bottomleft"></c-legend>
    
    <c-mouseover anchor1={{anchor}}  anchor2={{anchor1}} ></c-mouseover>


  </template>
</body>
</html>
