<!doctype html>

<html>
<head>
  <title>cygnus</title>
    
  <link rel="import" href="../cygnus.html">

  <link rel="stylesheet" href="../styles.css">
</head>

<body unresolved>
  <template is="dom-bind">
    <c-csv data={{data}} file="../data/iris.csv" x="sepalLength" y="sepalWidth" group="species"></c-csv>
    <c-layout anchor="{{anchor}}"></c-layout>
    <c-points anchor="{{anchor}}" data={{data}}></c-points>
    <c-axis anchor="{{anchor}}" data={{data}}></c-axis>
    <c-legend anchor="{{anchor}}" data={{data}}></c-legend>
    <c-lab anchor="{{anchor}}" x ="Sepal Length" y="Sepal Width"></c-labs>
    <!-- Define interaction --> 
    <c-update anchor="{{anchor}}" data={{data}}
      event ="click" 
      filter='{"variable":"sepalWidth", "operator":">", "ref":"click"}'
      action='{"fill":"red", "size": 10}'>
    </c-update>
  </template>
</body>
</html>