<!doctype html>

<html>
<head>
  <title>cygnus</title>
    
  <link rel="import" href="../cygnus.html">

  <link rel="stylesheet" href="../styles.css">
</head>

<body unresolved>
  <template is="dom-bind">
  
    <c-csv data={{data}} file="../data/polygon.csv" x="x" y="y" group="polygon">
    </c-csv>

    <c-layout anchor="{{anchor}}" width=850></c-layout>
    <c-polygon anchor="{{anchor}}" data={{data}}></c-polygon>

  </template>
</body>
</html>