<!doctype html>

<html>
<head>
  <title>cygnus</title>
    
  <link rel="import" href="../cygnus.html">

  <link rel="stylesheet" href="../styles.css">
</head>

<body unresolved>
  <template is="dom-bind">
    <c-layout anchor="{{anchor1}}" width=850 height=300></c-layout>
    <!-- RETREAT -->
    <c-csv data={{data1}} file="../data/troopsRetreat.csv" x="long" y="lat" group="group" size = "survivors"></c-csv>
    <c-path anchor="{{anchor1}}" data={{data1}} sizedomain="[6000, 340000]" sizerange="[1, 30]" color="#1C1C1C" 
      xdomain="[24, 38.8]" ydomain="[54.1, 55.8]"></c-path>
    <!-- ADVANCE -->
    <c-csv data={{data2}} file="../data/troopsAdvance.csv" x="long" y="lat" group="group" size = "survivors"></c-csv>
    <c-path anchor="{{anchor1}}" data={{data2}} sizedomain="[6000, 340000]" sizerange="[1, 30]" color="#F0D5BE" 
      xdomain="[24, 38.8]" ydomain="[54.1, 55.8]"></c-path>
    <!-- CITIES -->
    <c-csv data={{data3}} file="../data/cities.csv" x="long" y="lat" id="city"></c-csv>
    <c-points anchor="{{anchor1}}" data={{data3}} size=2 xdomain="[24, 38.8]" ydomain="[54.1, 55.8]" color="#1C1C1C"></c-points>
    <c-text anchor="{{anchor1}}" data={{data3}} xdomain="[24, 38.8]" ydomain="[54.1, 55.8]" color="#1C1C1C"> </c-text>
    <!-- LINE CHART-->
    <c-layout anchor="{{anchor2}}" width=850 height=200 ></c-layout>  
    <c-csv data={{data4}} file="../data/temps.csv" x="long" y="temp" id="date"></c-csv>
    <c-lines anchor="{{anchor2}}" data={{data4}} xdomain="[24, 38.8]" color ="#1C1C1C" ></lines>
    <c-text anchor="{{anchor2}}" data={{data4}} color="#1C1C1C" xdomain="[24, 38.8]"></c-text>
    <c-axis anchor="{{anchor2}}" data={{data4}} color="#1C1C1C"></c-axis>
    <c-lab anchor="{{anchor2}}" x ="Longitude", y="Temperature"></c-labs>
   </template>
</body>
</html>