<!doctype html>

<html>
<head>
  <title>cygnus</title>
    
  <link rel="import" href="../cygnus.html">

  <link rel="stylesheet" href="../styles.css">
</head>

<body unresolved>
  <template is="dom-bind" id="app">
    <template is="dom-repeat" items="{{items}}">
      <c-csv data={{item.data}} file="../data/iris.csv" x="sepalLength" y="sepalWidth" group="species"></c-csv>
      <c-layout anchor="{{item.anchor}}"></c-layout>
      <c-points anchor="{{item.anchor}}" data={{item.data}}></c-points>
      <c-axis anchor="{{item.anchor}}" data={{item.data}}></c-axis>
      <c-legend anchor="{{item.anchor}}" data={{item.data}}></c-legend>
      <c-lab anchor="{{item.anchor}}" x ="Sepal Length" y="Sepal Width"></c-labs>
    </template>
  </template>
  <script>
  // Definition of the bucle
  (function(document) {
    var app = document.querySelector('#app');
    app.items = [{},{},{},{},{},{},{},{}];
  })(document);
  </script>
</body>
</html>