<!doctype html>

<html>
<head>
  <title>cygnus</title>
    
  <link rel="import" href="../cygnus.html">

  <link rel="stylesheet" href="../styles.css">
</head>

<body unresolved>
  <template is="dom-bind">
  
    <c-csv data={{data}} file="../data/cars.csv" 
      dimensions = "economy (mpg),cylinders,displacement (cc),power (hp),weight (lb),0-60 mph (s),year">
    </c-csv>

    <c-layout anchor="{{anchor}}" width=850 ></c-layout>
    <c-parcoords anchor="{{anchor}}" data={{data}}></c-parcoords>
    <c-axis anchor="{{anchor}}" data={{data}}></c-axis>

  </template>
</body>
</html>