<!doctype html>

<html>
<head>
  <title>cygnus</title>
    
  <link rel="import" href="../cygnus.html">

  <link rel="stylesheet" href="../styles.css">
</head>

<body unresolved>
  <template is="dom-bind">
  
    <c-tsv data={{data}} file="../data/years.tsv" x="State" y="Values" 
      group="Age" xtype = "Factor">
    </c-tsv>
    
    <c-layout anchor="{{anchor}}" width =800 ></c-layout>
    
    <c-bars anchor="{{anchor}}" data={{data}}></c-bars>
    <c-axis anchor="{{anchor}}" data={{data}}></c-axis>
    <c-legend anchor="{{anchor}}" data={{data}} ></c-legend>

  </template>
</body>
</html>
