<!doctype html>

<html>
<head>
  <title>cygnus</title>
    
  <link rel="import" href="../cygnus.html">

  <link rel="stylesheet" href="../styles.css">
</head>

<body unresolved>
  <template is="dom-bind">
  
    <c-csv data={{data1}} file="../data/iris.csv" x="sepalLength" y="sepalWidth" 
      group="species">
    </c-csv>
    
    <c-layout anchor="{{anchor1}}"></c-layout>
    
    <c-points anchor="{{anchor1}}" data={{data1}}></c-points>
   
    <c-axis anchor="{{anchor1}}" data={{data1}}></c-axis>
    
    <c-legend anchor="{{anchor1}}" data={{data1}}></c-legend>
    <c-lab anchor="{{anchor1}}" x ="Sepal Length", y="Sepal Width"></c-labs>
    
    
    <c-csv data={{data2}} file="../data/iris.csv" x="petalLength" y="petalWidth" 
      group="species">
    </c-csv>
    
    <c-layout anchor="{{anchor2}}"></c-layout>
    
    <c-points anchor="{{anchor2}}" data={{data2}}></c-points>
   
    <c-axis anchor="{{anchor2}}" data={{data2}}></c-axis>
    
    <c-legend anchor="{{anchor2}}" data={{data2}}></c-legend>
    <c-lab anchor="{{anchor2}}" x ="Sepal Length", y="Sepal Width"></c-labs>
    
    <c-mouseover anchor1 = {{anchor1}}  anchor2 = {{anchor2}} ></c-mouseover>
    
  </template>
</body>
</html>




