
<dom-module id="z-demo9">
  <template>
    <c-csv data={{data}} file="../data/flights.csv" x="from_long" y="from_lat">
    </c-csv>
    <c-layout anchor="{{anchor}}" width = 850></c-layout>
    <template is="dom-repeat" items="{{iter}}">
    <c-points anchor="{{anchor}}" data="{{data}}" size$={{size}} color="blue"></c-points>
    </template>
  </template>
</dom-module>


<script>
  Polymer({
    is: "z-demo9",
    
    properties: {
      data: {
        observer: "_dataChanged"
      },
      iter : {
       value: ['iteration'] 
      },
      size: {
        type: Number,
        value: 1,
      }
    },
  
    
    _dataChanged: function () {
      var me = this;

      if (me.anchor && me.data.datapoints) {

        me.anchor.svg.on("mouseover", function() {
          d3.selectAll("circle").remove();
          sizeScale = d3.scale.linear().domain([0,850]).range([1,10]);
          me.size = sizeScale(window.event.clientX);
          me.push('iter', 'iteration');
        });
        
      }
    }
    
  });
</script>